p{
    color:black;
    text-align:justify;
    font-size:24px;
}

h1{
    color:rgb(185, 0, 0);
    text-align:center;
    font-size: 80px;
    font-style: italic;

    
}

body{
    background-color:beige;
}

